<h1 id="tableLabel">Pairs</h1>

<p *ngIf="!pairs"><em>Loading...</em></p>

<app-add-edit-pair (pairAdded)="newPairAdded($event)" ></app-add-edit-pair>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pairs; else caseNoPairs">
  <ng-template #caseNoPairs>Oops, no pairs yet</ng-template>
  <thead>
    <tr>
      <th>First coin (F)</th>
      <th>Second coin (S)</th>
      <th>Current price (F/S)</th>
      <th>Target price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pair of pairs">
      <td><img [src]="pair.firstCurrency.imageURL" width="20" height="20" /> {{ pair.firstCurrency.symbol }}</td>
      <td><img [src]="pair.secondCurrency.imageURL" width="20" height="20" /> {{ pair.secondCurrency.symbol }}</td>
      <td *ngIf="pair.priceFirstToSecond; else noPriceYet">{{ pair.priceFirstToSecond }}</td>
      <ng-template #noPriceYet><td>No price yet, wait a minute</td></ng-template>
      <td *ngIf="pair.isNotifyOnPrice; else emptyTargetPrice">{{ pair.targetPrice }}</td>
      <ng-template #emptyTargetPrice><td>No target price is set</td></ng-template>
      <!--An attempt to make a chart, if applied - rendering is lagging as hell-->
      <!--<td><app-chart [prices]="pair.historicalData"></app-chart></td>-->
      <td><button class="btn btn-danger btn-group-sm" (click)="deletePair(pair.pairId)">Delete</button></td>
    </tr>
  </tbody>
</table>
