<html lang="en">
<head>
  <meta name="google-signin-client_id" content="kubasovra@gmail.com.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <h2>Welcome to the homepage of the CryptoRates project</h2>
  <h4>I have no idea of what to put in here, so here's a brief overview of what this thing can do:</h4>
  <ul>
    <li>Track price of pairs of cryptocurrencies</li>
    <li>Notify you (and send an email) when the price achieves the value set by YOU</li>
    <li>Show you some awesome LINE CHARTS</li>
  </ul>

  <div *ngIf="isUserAuthenticated | async; else toSignInSection">
    <button class="btn btn-outline-primary" [routerLink]='["/pairs"]'>Continue to pairs</button>
  </div>

  <ng-template #toSignInSection>
    <h2>Lets get started!</h2>
    <p>Basically, all the funtionality is on "Pairs" page, but first - you have to <button class="btn btn-outline-primary" [routerLink]='["/login"]'>Sign in</button></p>
  </ng-template>
</body>
</html>
