<h2>Welcome to the homepage of the CryptoRates project</h2>
<h3>I have no idea of what to put in here, so here's a brief overview of what this thing can do:</h3>
<ul>
  <li>Track price of pairs of cryptocurrencies</li>
  <li>Notify you (and send an email) when the price achieves the value set by YOU</li>
  <li>Show you some awesome LINE CHARTS</li>
  <li>List item #4</li>
</ul>

<h2>Lets get started!</h2>
<p>Do you see those buttons in the top right corner?</p>
<p>Basically, all the funtionality is on "Pairs" page, but you will NOT get there until you sign up and sign in. So, go for it</p>
